@keyframes example {
    from {
        opacity: 1;
    }

    50%{
        opacity: 0.1;
    }
    
    to {
        opacity: 1;
    }
}

.shape-main-title{
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    @apply max-lg:!hidden
}

.shape-main-title-1{
    @apply absolute top-0 right-4 -translate-y-1/3;
}
.shape-main-title-2{
    @apply absolute top-0 left-4 -translate-y-1/3 -translate-x-1/2 max-sm:translate-y-2/3;
    animation-delay: 0.5s;
}
.shape-main-title-3{
    @apply absolute top-1/2 -right-[160px] -translate-y-1/4 translate-x-1/2;
    animation-delay: 1s;
}
.shape-main-title-4{
    @apply absolute top-2/3 -left-[180px] -translate-y-1/4 -translate-x-1/2;
    animation-delay: 1.5s;
}
.shape-main-title-5{
    @apply absolute -bottom-1/2 right-4 -translate-x-full -translate-y-[40%];
    animation-delay: 2s;
}
.shape-main-title-6{
    @apply absolute bottom-0 left-4 translate-y-[140%] max-sm:translate-y-full;
    animation-delay: 2.5s;
}
.shape-main-title-7{
    @apply absolute -bottom-1/2 right-4 translate-x-full;
    animation-delay: 3s;
}
.shape-main-title-8{
    @apply absolute -bottom-1/2 -left-[180px] -translate-x-1/2 translate-y-2/3 ;
    animation-delay: 3.5s;
}